@import "animations";
@import "parameters";

main {
	display: grid;
	grid-template-columns: 1fr fit-content(100%) 1fr;
	justify-content: stretch;
	
	max-height: 100vh;
	max-width: 100vw;
	overflow: hidden;
	
	position: relative;
	//background-color: #263238;
	background: linear-gradient(45deg, #37474F 0%, #263738 100%);
	color: #CFD8DC;
	
	.columns-separator {
		width: 1px;
		background-color: #37474F;
		margin: 25px 5px;
	}
	
	.left-column, .right-column	{
		height: 100vh;
		width: 100%;
	}
	
	.left-column {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: fit-content(100%) auto auto fit-content(100%);
		align-items: stretch;
		
		.servers-btn {
			width: 100%;
			padding: 10px;
			border-radius: 0px 0px 80px 80px;
			background-color: #26A69A;
			color: #fff;
			
			transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
			
			&:hover {
				color: #fff;
				background-color: #4DB6AC;
			}
		}
		
		.server-info {
			padding-top: 20px;
			font-size: 14px;
			
			& > * {
				font-size: inherit;
				display: block;
			}
			
			.offline {
				color: #e57373;
				font-weight: bold;
				font-size: 17px;
				margin: 10px 0px;
				
				opacity: 0;
				animation: fade-in 0.6s 1s ease-in-out forwards;
			}
			
			.address {
				font-weight: bold;
				font-size: 16px;
				margin: 15px 0px;
				text-shadow: none;
			}
			
			img {
				max-height: 128px;
			}
		}
		
		.connect-btn {
			text-decoration: none;
			color: #fff;
			font-weight: bold;
			font-size: 16px;
			border: 1px solid #fff;
			padding: 10px 15px 10px 20px;
			border-radius: 40px;
			background-color: #fff0;
			box-shadow: 0px 1px 4px #0008;
			transition: background-color 0.4s cubic-bezier(.36, .07, .19, .97),
				color 0.4s cubic-bezier(.36, .07, .19, .97), border-color 0.4s cubic-bezier(.36, .07, .19, .97);
			
			animation: pop-in 0.5s cubic-bezier(.87, -.41, .19, 1.44) forwards;
			
			&:hover {
				background-color: #fff;
				color: #e57373;
				border-color: #e57373;
			}
		}
	}
	
	.right-column {
		/*display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto fit-content(100%);*/
		max-height: 100%;
		overflow-y: auto;
		
		.players-list {//table
			border-collapse: collapse;
			width: 100%;
			
			thead {
				height: 30px;
				font-weight: bold;
				//border-bottom: 1px solid #37474F;
			}
			
			tbody {
				text-align: left;
				
				tr > td:not(:nth-child(2)) {
					color: #B0BEC5;
				}
			}
			
			tr > td, tr > th {
				padding: 5px 5px;
				font-size: 13px;
			}
			
			tr:not(:last-child) {
				border-bottom: 1px solid #37474F;
			}
		}
	}
	
	.author {
		text-align: left;
		font-size: 10px;
		color: #78909C;
		padding: 3px;
	}
	
	.add-server-form {
		margin: $circleBtnMargin auto;
		
		& > * {
			//display: block;
			margin: 5px auto;
			min-width: 100px;
		}
		
		span {
			font-weight: bold;
			margin: 0px 3px;
		}
		
		input {
			background-color: #B2DFDB40;
			padding: 4px;
			border-radius: 0px;
			color: #fff;//#004D40;
			font-weight: normal;
			text-align: center;
			border: none;
			border-bottom: 2px solid #80CBC4;
			overflow: visible;
			
			transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;
			
			&:focus {
				border-color: #80CBC4;
				background-color: #B2DFDB00;
				
				&::placeholder {
					color: #80CBC4;
				}
			}
			
			&.incorrect {
				border-color: #e57373;
				//border-top: 1px solid #e57373;
			}
			
			&::placeholder {
				color: #00897B;
				text-shadow: none;
				transition: color 0.4s ease-in-out;
			}
		}
	}
}